/* CALENDAR SECTION */

#calendar-section{
    
    padding-bottom: 7rem;
    padding-top: 5rem;
    background-color: #F5F5F5;
    
}

.calendar-card{
    background-color: #5B2A84;
    padding: 0 2rem;
    max-width: fit-content;
    min-height: 20rem;    
    color: white;    
    border-radius: 0;
    border: #F5F5F5 solid 1rem;
}

.calendar-card:hover{
    background-color: #BFD630 ;
}

.calendar-card-group{
    gap: 2rem;
    margin-top: 4rem;
    
    
}